.cart-block{
  &__link{
    padding-left: 19px;
  }
  &__icon{
    @include icon(30px, 30px, $cart);
  }
  &__count{
    font-size: 12px;
    position: relative;
    top: -15px;
    padding: 2px 5px;
    background: $cart-count;
    border-radius: 10px;
  }
}