.cart{
  width: 100%;
  padding: 0 25px;
  font-family: $font-regular;
  color: $font-primary;
  &__title{
    @include displayFlex(flex-start, flex-end, row);
    @include border-violet-2;
    padding: 20px 0 10px 0;
  }
  &__title-text{
    margin: 0;
    font-weight: 500;
    letter-spacing: .02em;
  }
  &__prd-count{
    padding: 0 0 5px 35px;
    font-size: 14px;
    color: $text-disable;
  }
  &__content{
    padding: 35px 0 0 0;
    @include displayFlex(space-between, flex-start, row);
  }
  &__box{
    width: 785px;
    @include displayFlex(space-between, flex-start, row)
  }
  &__box-pic{
    width: 100px;
  }
  &__box-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &__prd-name{
    width: 400px;
    @include displayFlex(space-between, flex-start, column)
  }
  &__prd-name-text{
    font-size: 17px;
    margin: 0;
  }
  &__ptr-art{
    padding: 55px 0 0 0;
  }
  &__ptr-art-prefix{
    font-size: 10px;
    padding: 0 10px 0 0;
  }
  &__ptr-art-number{
    font-size: 12px;
  }
  &__box-price-count{
    width: 105px;
  }
  &__box-price{
    text-align: center;
    vertical-align: middle;
    height: 21px;
  }
  &__price{
    font-size: 17px;
  }
  &__count-block{
    @include displayFlex(center, center, row);
    padding: 35px 0 0 0;
    width: 100%;
  }
  &__count-block-button{
    width: 35px;
  }
  &__count-block-count{
    width: 35px;
    text-align: center;
    vertical-align: middle;
  }
  &__count-block-number{
    width: 35px;
  }
  &__box-prd-count-button{

  }
  &__box-end-block{
    width: 25px;
  }
  &__box-in-favorites{

  }
  &__box-remove{
    padding: 38px 0 0 0;
  }
  &__end-block-img{
    width: 25px;
  }
  &__right-block{
    @include displayFlex(center, center, column);
  }
  &__check{
    width: 250px;
    border-radius: 20px;
    padding: 20px 15px;
    @include displayFlex(center, center, column);
    border: $dark-violet solid 1px;
  }
  &__check-title{
    font-size: 17px;
  }
  &__check-count{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 15px 0;
    @include border-violet-1;
  }
  &__check-count-text{
    font-size: 15px;
  }
  &__check-count-price{
    letter-spacing: .09em;
    font-weight: 600;
  }
  &__check-value{
    @include displayFlex(space-between, center, row);
    width: 100%;
    letter-spacing: 0.09em;
    font-weight: 600;
    padding: 35px 0 0 0;
  }
  &__check-value-text{
    font-size: 17px;
  }
  &__check-sum{
    min-width: max-content;
    font-size: 21px;
  }
  &__execution-button{
    margin: 20px 0 0 0;
    @include displayFlex(center, center, row);
    @include button(280px, 55px, $font-primary, $background-color-light, $dark-violet, 1px, 20px, 19px);
    cursor: pointer;
    &:hover{
      color: $violet;
      transition: .2s;
    }
  }
}