.categories{
  &__container{
    font-family: $font-semi-bold;
    font-size: 23px;
    color: $font-primary;
    width: 100%;
  }
  @include displayFlex(center, center, column);
  &__item{
    margin: 0 0 20px 0;
    width: 800px;
    height: 215px;
    background: $background-submenu;
    border-radius: 20px;
    border: $violet solid 1px;
    @include displayFlex(space-between, center, row)
  }
  &__item-block{
    display: flex;
    align-items: center;
  }
  &__img{
    width: 180px;
    height: 170px;
    border-radius: 7px;
    padding: 0 15px;
  }
  &__title{
    letter-spacing: 0.2rem;
    cursor: default;
  }
  &__submit-button{
    text-decoration: none;
    margin: 0 20px;
    @include displayFlex(center, center, row);
    @include button(125px, 40px, $font-primary, $background-color-light, $black, 1px, 35px, 16px);
    &:hover{
      background: $font-primary;
      color: $background-color-light;
      transition: .2s;
      border: $violet solid 2px;
    }
  }
}