
.sorter{
  color: $font-primary;
  font-family: $font-regular;
  font-size: 14px;
  padding: 15px 15px 0;
  display: flex;
  &__title{
    padding-right: 10px;
    cursor: default;
  }
  &__title-text{

  }
  &__item{
    margin: 0 10px;
    display: flex;
  }
  &__item-text{
    user-select: none;
    white-space: nowrap;
    &:hover{
      color: #d86479;
      cursor: pointer;
      transition: .2s;
    }
  }
  &__arrow{
    position: relative;
    padding: 0 0 0 15px;
    bottom: 7px;
    transition: .5s;
    &--down{
      transform: rotateX( 180deg );
      transition: .5s;
    }
  }
}