
.tags{
  width: 100%;
  @include displayFlex(flex-start, center, row);
  flex-wrap: wrap;
  min-height: 40px;
  padding: 20px 0 40px 0;
  font-family: $font;
  :hover{
      background: $tag-hover;
      transition: .2s;
    }
  &__item{
    @include button(max-content, 27px, $text-color, $tag-button, $tag-button, 1px, 20px, 14px);

    @include displayFlex(center, center, row);
    padding: 1px 5px;
    margin: 0 10px;
  }
  &__link{
    text-decoration: none;
    color:$text-color;
  }
}