
.trigger{
  @include button(210px, 50px, $violet, $layout-background-color, $violet, 2px, 35px, 17px);
  min-width: 210px;
  //font-family: $font-bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: background-color .2s;
  &:hover{
    background: $trigger-hover;
  }
  &_active{
    background-color: $violet;
    &:hover{
      background-color: $violet-hover;
    }
  }
  &-icon{
    height: 12px;
    width: 14px;
    transition: 1s;
    position: relative;
    padding: 0;
    margin-left: 19px;
    &:before{
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $violet;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &:after{
      content: '';
      bottom: 0;
      height: 2px;
      width: inherit;
      background: $violet;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &_active{
      &:before{
        transform: translateY(5px) rotate(45deg) scaleX(1.4);
        background: $layout-background-color;
      }
      &:after{
        transform: translateY(-5px) rotate(-45deg) scaleX(1.4);
        background: $layout-background-color;
      }
    }
  }
  &-iconLine{
    top: 5px;
    width: inherit;
    height: 2px;
    background: $violet;
    position: absolute;
    &_active{
      display: none;
    }
  }
  &-text{
    padding: 0 0 0 10px;
    &_active{
      color: $layout-background-color;
    }
  }
}