
.trigger{
  @include button(50px, $blue, $background-color, $blue, 2px, 35px, 17px);
  min-width: 142px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: background-color .2s;
  &:hover{
    background: $trigger-hover;
  }
  &--active{
    background-color: $blue;
    &:hover{
      background-color: $blue;
    }
  }
  &__icon{
    height: 12px;
    width: 14px;
    transition: 1s;
    position: relative;
    padding: 0;
    margin-left: 19px;
    &:before{
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $blue;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &:after{
      content: '';
      bottom: 0;
      height: 2px;
      width: inherit;
      background: $blue;
      box-sizing: border-box;
      position: absolute;
      transition: .3s;
    }
    &--active{
      &:before{
        transform: translateY(5px) rotate(45deg) scaleX(1.4);
        background: $background-color;
      }
      &:after{
        transform: translateY(-5px) rotate(-45deg) scaleX(1.4);
        background: $background-color;
      }
    }
  }
  &__icon-line{
    top: 5px;
    width: inherit;
    height: 2px;
    background: $blue;
    position: absolute;
    &--active{
      display: none;
    }
  }
  &__text{
    padding: 0 0 0 10px;
    &--active{
      color: $background-color;
    }
  }
}