.footer{
  height: 400px;
  width: 100%;
  font-family: $font-regular;
  color: $font-primary;
  font-size: 14px;
  margin-top: 35px;
  background: $background-color-light;
  &__container{
    padding: 20px;
    @media (min-width: 1201px) {
      width: 1200px;
      margin: 0 auto;
    }
  }
  &__inner{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  &__contacts{
    grid-column: 1;
    grid-row: 1;
    padding: 0 7px;
  }
  &__title{
    padding: 0 0 35px 0;
  }
  &__contact-item{
    padding: 0 0 20px 0;
    @include displayFlex(flex-start, center, row);
  }
  &__contact-info{
    padding: 0 0 0 15px;
  }
  &__info-block{
    grid-column: 2;
    grid-row: 1;
    padding: 0 7px;
  }
  &__email-icon{
    @include icon(20px, 20px, $email);
  }
  &__location-icon{
    @include icon(20px, 20px, $location);
  }
  &__phone-icon{
    @include icon(20px, 20px, $phone);
  }
  &__clock-icon{
    @include icon(20px, 20px, $clock);
  }
  &__info-block{
    grid-column: 2;
    grid-row: 1;
    padding: 0 7px;
  }
  &--indent{
    margin-right: 20px;
  }
  &__vk-icon{
    @include icon(40px, 40px, $vk);
  }
  &__whatsapp-icon{
    @include icon(40px, 40px, $whatsapp);
  }
  &__telegram-icon{
    @include icon(40px, 40px, $telegram);
  }
  &__img-list{
    @include displayFlex(flex-start, center, row);
    padding: 0 0 70px 0;
  }
  &__mastercard-icon{
    width: 55px;
    height: 55px;
  }
  &__mir-icon{
    fill: $font-primary;
    width: 65px;
    height: 20px;
  }
  &__visa-icon{
    width: 45px;
    height: 45px;
  }
  &__menu{
    grid-column: 3;
    grid-row: 1;
    padding: 0 7px;
  }
  &__menu-list-item{
    padding: 15px 0 0 0;
  }
  &__menu-list-link{
    color: $font-primary;
  }
}