@import "../mixins/basic-mixins";

.header{
  position: relative;
  margin: 0;
  background-color: $background-color-light;
  font-family: $font-bold;
  @include text-color;
  &__top{
    height: 80px;
  }
  &__container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    @media (max-width: 1201px) {
      width: 1024px;
    }
  }
  &__inner{
    @include size;
    height: 80px;
    @include displayFlex(space-between, center, row);
  }
  &__logo{
    font-size: 27px;
    font-family: $font-bold;
  }
  &__contact{

  }
  &__item{
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
    &--top{
      margin: 10px 0 0 0;
    }
  }
  &__contact-icon{
    width: 17px;
  }
  &__contact-number{
    margin: 0 0 0 10px;
  }
  &__info{
    padding: 0 35px 0 0;
  }
  &__info-icon{
    margin: 0 10px 0 0;
  }
  &__info-text{
    font-size: 13px;
    padding: 0 0 0 3px;
  }
}