.catalog{
  &-title{
    padding: 15px 0 0 0;
  }
  &-titleText{
    font-size: 27px;
    font-family: $font-regular;
    color: $font-primary;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: inherit;
  }
  &-content{
    background: $background-color-light;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 35px 0 0;
    display: flex;
  }
  &-right{
    // Контейнер с медиа запросами
    margin: 15px;
    width: 100%;
  }
}