@import "utils";

.breadcrumbs{
  &-list{
    @include displayFlex(start, center, row);
    list-style-type: none;
    padding: 0;
  }
  &-item{
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    //border: #fff solid 1px;
  }
  &-home{
    height: 17px;
    //border: #CF6679 solid 1px;
    vertical-align: middle;
  }
  &-arrow{
    height: 12px;
    width: 20px;
    position: relative;
    &:before{
      content: "";
      background: url("../assets/icon/right-arrow.svg");
      width: 15px;
      height: 15px;
      padding-left: 10px;
      border: #CF6679 solid 1px;
      position: relative;
    }
  }
  &-link{
    &:after{

    }
  }
  &-link_pos{
    padding-left: 15px;
    text-decoration: none;
    font-family: $font;
    font-size: 14px;
    color: $text-color;
    &:after{

      position: relative;
      top: 5px;
    }
  }
}