@import "utils";
@import "headerButton";

.cartBlock{
  width: 70px;
  margin: 0 35px 0 0;
  &-img{
    padding-left: 20px;
  }
  &-count{
    position: relative;
    top: -15px;
    width: 14px;
    background: #CF6679;
    padding-left: 7px;
    border-radius: 10px;
  }
}