@import "utils";

.catalogSide{
  margin: 15px 0 0 0;
  width: 280px;
  background: $background-submenu;
  border-radius: 10px;
  height: 50vh; // Убрать!!!
  font-family: $font;
  font-size: 16px;
  flex-shrink: 0;
  &-content{
    margin: 15px;
    background: $two-background-color;
    color: $text-color;
    height: calc(100% - 30px);
    border-radius: 20px;
  }
}