@import "utils";

.catalog{
  &-title{
    padding: 15px 0 0 0;
  }
  &-titleText{
    font-size: 27px;
    font-family: $font;
    color: $text-color;
  }
  &-content{
    background: $two-background-color;
    min-height: 60vh;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 35px 0 0;
    display: flex;
  }
}