@import "utils";

.checkbox{
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 10px 3px 10px 60px;
  &-input{
    opacity: 0;
    position: absolute;
  }
  &-icon{
    background: #E4E4E4;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -25px;
  }
  &-textTitle{

  }
}