//color

//background-color

$background-color: rgba(18, 18, 18, 1); // #121212;
$background-color-light: rgba(41, 41, 41, 1); //#292929;

//font

$font-primary: rgba(228, 228, 228, 1);; //#E4E4E4

// Borders

$blue: rgba(134, 139, 252, 1); // #F868BFC
$black: rgba(0, 0, 0, 1); // #000000

// refactoring!!!
$button-border: #000;
$button-background-hover: #333;
$violet: #BB86FC;
$violet-hover: #B377FD;
$trigger-hover: #1D1D1D;
$background-submenu: #1E1E1E;
$nav-bottom: #585858;
$catalog-text-hover: #65BEB5;
$tag-button: #424242;
$tag-hover: #575757;
$separator-border: #626262;
$cart-count: #CF6679;
$dark-violet: #643c53;
$submit-button: #d86479;
$submit-button-hover: #d3536a;
$submit-button-text: #cccccc;
$text-disable: #C4C4C4;