@import "utils";
@import "icon";

.filterItem{
  width: 100%;
  position: relative;
  @include displayFlex(flex-start, flex-start, column);
  font-weight: 500;
  &-separator{
    margin: 15px 0;
    border-color: $separator-border;
    width: 100%;
  }
  &-checkboxList{
    @include displayFlex(flex-start, flex-start, column);
    width: 100%;
  }
  &-label{
    margin: 15px 0 0 35px;
    width: 100%;
  }
  &-input{
    opacity: 0;
    position: absolute;
    z-index: -1;
    &:hover + .filterItem-icon{
      border: $violet solid 2px;
      transition: .2s;
    }
  }
  &-icon {
    border: $text-color solid 2px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
    cursor: pointer;
    &:hover{
      border: $violet solid 2px;
      transition: .2s;
    }
  }
  &-icon_checked{
    &:before{
      content: url($checked);
      position: absolute;
      left: 4px;
    }
  }
  &-selector{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 38px);
    position: relative;
    top: 2px;
    cursor: pointer;
  }
  &-selectorText{
    font-size: 14px;
    font-weight: 500;
  }
  &-selectorCount{

  }
  &-title{
    margin: 10px 5px 0 3px;
    font-weight: 600;
    letter-spacing: 0.15rem;
  }
}