@import "utils";

.filterRange{
  position: relative;
  height: 20px;
  box-sizing: border-box;
  width: calc(100% - 15px);
  //touch-action: none;
  //overflow: hidden;
  &-input{
    position: absolute;
    width: calc(100% - 5px);
    appearance: none;
    background: transparent;
    //pointer-events: none;
  }
}