@import "utils";

.headerBottom{
  width: inherit;
  height: 100px;
  background: $layout-background-color;
  margin: 45px 0 0 0;
  &_container{
    display: flex;
  }
  &-mainMenu{
    width: 100%;
    @include displayFlex(end, end, row);
  }
}