@import "utils";

.header{
  margin: 0;
  height: 80px;
  background-color: $header-background-color;
  font-family: $font-number;
  @include text-color;
  &-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    @media (max-width: 1201px) {
      width: 1024px;
    }
  }
  &-inner{
    @include size;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo{
    font-size: 27px;
    font-family: $font-number;
  }
  &-contact{

  }
  &-item{
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
    &_top{
      margin: 10px 0 0 0;
    }
  }
  &-contactIcon{
    width: 17px;
  }
  &-contactNumber{
    margin: 0 0 0 10px;
  }
  &-info{
    padding: 0 35px 0 0;
  }
  &-infoIcon{
    margin: 0 10px 0 0;
  }
  &-infoText{
    font-size: 13px;
  }
}