@import "utils";

.layout{
  display: flex;
  flex-direction: column;
  margin: 0;
  &__content{
    background-color: $layout-background-color;
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
  }
}