@import "utils";

.navigationItem{
  @include displayFlex(space-evenly, center, column);
  &-item {
    width: 220px;
    padding: 20px 0 7px 0;
    border-bottom: $nav-bottom solid 1px;
    margin-bottom: 30px;
  }

  &-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $catalog-text-hover;
      transition: .2s;
    }
  }
}