@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}
// Color
$background-color: #121212;

$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
