@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat'), url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}
// Color
$button-border: #000;
$button-background-hover: #333;
$layout-background-color: #121212;
$two-background-color: #292929;
$text-color: #E4E4E4;
$violet: #BB86FC;
$violet-hover: #B377FD;
$trigger-hover: #1D1D1D;
$background-submenu: #1E1E1E;
$nav-bottom: #585858;
$catalog-text-hover: #65BEB5;
$tag-button: #424242;
$tag-hover: #575757;
$separator-border: #626262;
$cart-count: #CF6679;


// Fonts
$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-header: 'Montserrat-SemiBold', 'sans-serif';

// Mixin
@mixin size{
  width: 100%;
  height: 100%;
  margin: 0;
}
@mixin text-color{
  color: $text-color;
}
@mixin displayFlex($justify,$align,$direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// hide-tag

@mixin hide{
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}