@mixin button(
   $buttonHeight,
    $buttonColor,
     $buttonBackground,
  $buttonBorderColor,
  $solid,
  $radius,
  $buttonFont
)
{
  height: $buttonHeight;
  color: $buttonColor;
  background-color: $buttonBackground;
  border: $solid solid $buttonBorderColor;
  border-radius: $radius;
  font-size: $buttonFont;
}